################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MacaProject/bin/Debug
/MacaProject/obj/Debug
